@{
    ViewBag.Title = "About";
}
<header>
    <h1>KFC</h1>
    <h2>Gà rán ngon nhất</h2>
</header>
<main>
    <section class="about">
        <h3>Câu chuyện của chúng tôi </h3>
        <p></p>
        <p></p>
    </section>
    <section class="contact">
        <h3>Liên hệ</h3>
        <p>Địa chỉ: 123 Main Street, Anytown, CA 12345</p>
        <p>Điện thoại: (123) 456-7890</p>
        <p>Email: support@kfc.com</p>
    </section>
</main>